<article class="container container-lg">
  <div class="container">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="panel panel-default feed_box">
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-top user_icon" >
              <%= image_tag "#{user.photo}.png", alt: 'Photo', width: '100px', class: "img-circle" %>
            </div>
            <div class="media-body">
              <div>
                <div class="ranking_container">
                    <div class="star" style="overflow: relative;">
                      <%= image_tag 'star.png', alt: 'Photo', height: '24px', style: "position: absolute" %>
                    </div>
                  <div class="center_ranking" style="margin-left: 5px;"><%= user.helpfullness %></div>
                </div>

                <h4 class="media-heading user_info" style="text-indent: 30px;">
                  <%= user.first_name.capitalize %> can help with:
                </h4>

                  <% user.user_specialties.each do |specialty| %>
                  <span class="btn btn-success" style="margin: 10px 0;"><%= specialty.tag.name %></span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</article>
