
<%= content_for :content do %>

  <aside id="aside">
    <%= render partial: 'layouts/partials/session_aside' %>
  </aside>

  <main id="main">
    <div class="container" style="width: 100%; padding: 0;">
      <div id="sidebar">
        <%= render partial: 'users/partials/sidebar' %>
      </div>
      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>

<%= render :file  => "layouts/application.html.erb" %>
