<%= content_for :content do %>
  <aside id="aside">
    <%= render partial: 'layouts/partials/session_aside' %>
  </aside>

  <main id="main">
    <div id="sidebar">
      <%= render partial: 'users/partials/sidebar' %>
    </div>
    <div id="main-content">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render :file  => "layouts/application.html.erb" %>
