<nav id="non_session_header">
  <div class="container">
    <ul class="pull-left">
      <li>
        <a class="brand" href="/">Logo</a>
      </li>
    </ul>

    <ul class="pull-right">
      <li>
        <%= link_to t('.register'), new_user_registration_path %>
      </li>
      <li>
        <%= link_to t('.login'), new_user_session_path %>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>" style="color:black;">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#" style="color:black;">About</a></li>
          <li><a href="<%= users_feed_path %>" style="color:black;">Feed</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= new_user_registration_path %>" style="color:black;"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

          <li><a href="<%= new_user_session_path %>" style="color:black;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

</nav>
