<!DOCTYPE html>
<html>
  <head>
    <title><%= t('global.title')%> | <%= yield(:title) %></title>
    <%= render partial: 'layouts/partials/head' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="<%= controller_id %>" class="<%= page_id %>">
    <!-- Small modal -->


    <header id="header" class="fixed-header">
      <% if user_signed_in? %>
      <%= render partial: "layouts/partials/session_header" %>
      <% else %>
      <%= render partial: "layouts/partials/non_session_header" %>
      <% end %>
    </header>

      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% else %>
        <main id="main">
          <%= yield %>
        </main>
      <% end %>

      <footer id="footer-msg" style="position: fixed; bottom: 0, width: 100%;">
        <% if flash[:success] %>
          <p class="alert alert-success"><%= flash[:success] %></p>
        <% end %>
        <% if flash[:failure] %>
          <p class="alert alert-failure"><%= flash[:failure] %></p>
        <% end %>
      </footer>
  </body>
</html>
