<div class="search-container">
    <%= form_tag '/search/tags', method: :post, class: "form-inline" do |f| %>
      <div class="form-group" style="width: 400px; margin-left: 10%;">
        <%= text_field_tag :id, "", class: "form-control", name: "id" %>
        <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    <% end %>
  </div>

<div id="tab_content_wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
    <li role="presentation" class="active"><a href="#interests" aria-controls="interests" role="tab" data-toggle="tab">Interests</a></li>
    <li role="presentation"><a href="#specialties" aria-controls="specialties" role="tab" data-toggle="tab">Specialties</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="account">
      <%= render partial: 'update' %>
      <%= render "devise/shared/links" %>
    </div>

    <div role="tabpanel" class="tab-pane active" id="interests">
      <h3>Interests</h3>
      <hr />
      <%= form_tag '/interests', method: :post do |form| %>
        <div class="form-group">
          <%= label_tag :tag %>
          <%= text_field_tag :name, "", class: 'form-control' %>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      <% end %>
      <hr />
      <ul>
        <% current_user.user_interests.each do |s| %>
        <li>

            <%= link_to raw("#{s.tag.name}<i class='fa fa-times'></i>"), interest_path(s), 'data-method' => 'delete', class: "btn btn-outline-success" %>
        </li>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="specialties">
      <h3>Specialties</h3>
      <hr />
      <ul>
        <% current_user.user_specialties.each do |s| %>
        <li>
          <a class="btn btn-primary btn-sm">
            <%= s.tag.name %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
